<div id="intro">
  <h2>Welcome to Mettle</h2>
</div>

<div id="data_set_test">
  <h2>Compare CSV Files</h2>
  <div id="expected_results">
    <p>Load expected results</p>
    <input type="file" id="expected_csv_input" name="expected_csv_input" accept="text/csv"/>
    <div id="expected_results_data"></div>
  </div>
  <div id="actual_results">
    <p>Load actual results</p>
    <input type="file" id="actual_csv_input" name="actual_csv_input" accept="text/csv"/>
    <div id="actual_results_data"></div>
  </div>
  <input id='compare-button' type='submit' value="Compare Files"></button>

  <div id="results_table_test"></div>
</div>

<div id='signup_form'>
  <header>Sign Up:</header>
  <p>Want to know more?  Sign up for our newsletter: </p>
  <%= simple_form_for @customer do |f| %>
    <%= f.input :email_address %>
    <%= f.button :submit, "Sign Up" %>
  <% end %>
</div>

<div id='feedback_form'>
  <header>Feedback:</header>
  <p>Did you find this useful? Send us your feedback: </p>
  <%= simple_form_for @feedback do |f| %>
    <%= f.input :description %>
    <%= f.button :submit, "Send Feedback" %>
  <% end %>
</div>