<div id="intro">
  <h2>Compare CSV Files</h2>
  <span>
    <span><%= link_to "Restart", try_path %></span>

    <span id="examples">
      Download example files:
      <%= link_to "expected.csv", '/expected.csv' %>
      <%= link_to "actual.csv", '/actual.csv' %>
    </span>
  </span>

</div>

<div id="upload_files">
  <div class="step one">
    <%= render "data_load_step", :number => "1", :csv => "expected" %>
  </div>

  <div class="step two">
    <%= render "data_load_step", :number => "2", :csv => "actual" %>
  </div>

  <div class="step three">
    <header>Step 3: Choose Primary Key</header>
    You can choose more than one field
  </div>

  <div class="step four">
    <header>Step 4: Run the test</header>
    <input id='compare-button' type='submit' value="Compare Files"/>
    <span class='loading-file' style='display: none'>Loading CSV File</span>
    <span class='file-load-ok' style='display: none'>OK</span>
    <span class='file-load-failed' style='display: none'>Error</span>
  </div>

</div>

<div id="results_table_test"></div>
