<!DOCTYPE html>
<html>
<head>
  <title>Mettle</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <div id='logo'>
      <h1>Mettle - regression testing for big data sets</h1>
    </div>

    <ul id="nav" class="linkbar">
      <li> <%= link_to "Try Mettle in your browser", "/" %> </li>
      <li> <%= link_to "About Mettle", "/about" %> </li>
      <li> <%= link_to "Sign Up", "/customers/new" %> </li>
      <li> <%= link_to "Leave Feedback", "/feedbacks/new"%> </li>
    </ul>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] || params[:error_message] %>
      <div id='errors'>
        <%= flash[:alert] %>
        <%= params[:error_message] %>
      </div>
    <% end %>
  </div>

  <div id='wrap'>
    <div id='content'>
      <%= yield %>
      <p class="ask-for-feedback">Could we improve anything?  We value your suggestions.  Please <%= link_to "let us know", new_feedback_path %>.</p>
    </div>
  </div>

  <div id="footer">
    <%= link_to 'Terms and Conditions', static_path('terms_and_conditions') %>
    &middot;
    &copy; 2012 New Context, Inc., a <%= link_to 'Digital Garage', 'http://garage.co.jp/en/' %> company.
    All rights reserved.
  </div>
</body>
</html>
