<!DOCTYPE html>
<html>
<head>
  <title>Mettle</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <h1>Mettle - regression testing for big data sets</h1>
    <% if params[:error_message] %>
      <div id='errors'><%= params[:error_message] %></div>
    <% end %>

    <%= link_to "Try Mettle in your browser", "/" %>
    <%= link_to "About Mettle", "/about" %>
  </div>

  <%= yield %>
  <div id='footer'>
    <%= render 'shared/sign_up_form' %>
    <%= render 'shared/feedback_form' %>
  </div>
</body>
</html>
