<!DOCTYPE html>
<html>
<head>
  <title>Mettle</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <div id='logo'>
      <h1>Mettle - regression testing for big data sets</h1>
    </div>

    <% if params[:error_message] %>
      <div id='errors'><%= params[:error_message] %></div>
    <% end %>

    <ul id="nav" class="linkbar">
      <li> <%= link_to "Try Mettle in your browser", "/", :class => "current" %> </li>
      <li> <%= link_to "About Mettle", "/about" %> </li>
      <li> <%= link_to "Sign Up", "/customers/new" %> </li>
      <li> <%= link_to "Leave Feedback", "/feedbacks/new"%> </li>
    </ul>
  </div>

  <div id='wrap'>
    <div id='content'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
