<!DOCTYPE html>
<html>
<head>
  <title>Mettle</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Mettle - regression testing for big data sets</h1>
<% if params[:error_message] %>
  <div id='errors'><%= params[:error_message] %></div>
<% end %>

<%= yield %>

</body>
</html>
